@import url('https://fonts.googleapis.com/css2?family=Oswald&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Nanum+Gothic&display=swap');

body {
  background-color: #05152F;
  font-family: Oswald;
}
.white {
  color: white;
}
/* Navbar Media Queries: */
.grid-containernavmanin {
  display: grid;
    grid-template-rows: auto auto auto;
    padding: 10px 12% 0 12%;
}
.pages {
  color: white;
  font-family: auto;
}
.grid-container8 {
  display: grid;
  grid-template-columns: auto;
}
.gamefloat {
  color: white;
  font-family: fantasy;
  font-size: 30px;
  margin:10px 0 5px 0 ;
  text-align: center;
  cursor: pointer;
  text-decoration: none;
}
.grid-containernav {
  display: grid;
  grid-template-columns: auto auto auto auto auto;
}
.buttonhomenav {
  background-color: #7ba435;
  color: white;
  padding: 5px 32px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
  margin-top: 10%;
}
.menuitems {
  color: white;
  margin-right: 20px;
  text-align: center;
  cursor: pointer;
}
.grid-containerkart {
  display: grid;
  grid-template-columns: auto auto;
}
.kart {
  margin: 20% 15px 0 0;
  float: right;
  color: white;
  cursor: pointer;
}
.arrow {
  width: 15px;
  margin-bottom: -5px;
}
.arrowbuttonnav {
  background-color: #7ba435;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  margin: 8% 0 0 0;
  cursor: pointer;
  border-radius: 10px;
}
@media only screen and (min-width: 875px) {
  .grid-containernavmanin {
    grid-template-columns: auto auto auto;
  }
  .gamefloat {
    text-align:left;
  }
}

@media only screen and (min-width: 566px) and (max-width: 875px) {
  .kart {
    margin:2% 10px 0 0;
  }
  .arrowbuttonnav {
    margin: 0 0 0 0;
  }

}

@media only screen and (max-width: 566px) {
  .grid-containernav {
    grid-template-rows: auto auto auto auto auto;
    grid-template-columns:none;
  }
  .homediv {
    height: 50px;
    position: relative;
  }

  .buttonhomenav {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .menuitems {
    color: white;
    margin-right: 0px;
    text-align: center;
    cursor: pointer;
  }
  .grid-containerkart {
    grid-template-rows: auto auto;
    grid-template-columns:none;
  }
  .kart {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .arrowbuttonnav {
    padding: 5px 5% 5px 5%;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
}
/* Game-section */
.Game-section {
  display: grid;
  row-gap: 50px;
  grid-template-columns: auto auto;
  padding: 0 12% 0 12%;
}
.rotate_image {
  -webkit-transform : rotate(45deg);
  -moz-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  -o-transform: rotate(45deg);
  transform: rotate(45deg);
  width:15px;
}
.adjust-line-height {
  font-size: 50px;
  line-height: 1em;
  margin: auto 0 auto 0;
  font-weight: 600;
}
.arrowbutton {
  background-color: #7ba435;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
.arrow {
  width: 15px;
  margin-bottom: -5px;
}
.playbuttongamesection{
  margin-bottom: -10px;
  cursor: pointer;
  width: 35px;
}
.playbutton {
  margin-bottom: -10px;
  cursor: pointer;
}
.gunimagesize {
  width: 200px;
}
.gamesecleftgridheight {
  color: #67a435;
  margin-top: 25px;
}
.paragraph {
  font-size: 70%;
  font-family: 'Nanum Gothic', sans-serif;
  font-weight: 600;
}
@media only screen and (min-width: 875px) {
  .gamesecleftgridheight {
    margin-top: 85px;
  }
  .gunimagesize {
    width: 400px;
  }
}

@media only screen and (min-width: 566px) and (max-width: 875px) {
  .Game-section {
    margin-bottom: 15px;
  }
}

@media only screen and (max-width: 566px) {
  .Game-section {
    grid-template-columns: none;
    grid-template-rows: auto auto;
    row-gap: 0px;
    margin-bottom: 15px;
  }
   .adjust-line-height {
    text-align: center;
  }
  .arrowbutton {
    margin: 4px 0 0 25%;
  }
  .playbutton {
    margin-left: -25%;
  }
  .gunimagesize {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .gamesecleftgridheight {
    text-align: center;
  }
  .paragraph {
    text-align: center;
  }
  .grid-item {
    position: relative;
    height: 280px;
  }
}

/* Game-Livestream-section*/
.GameLiveStreamStyles{
  color: #67a435;margin-top: 15px;
}
.grid-container2 {
  padding: 0 12% 0 12%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #000f2e;
  margin-top: 30px;
}
.parent {
  position: relative;
  top: 0;
  left: 0;
}
.childphoto {
  width: 250px;
}
.image1 {
  position: relative;
  top: 0;
  left: 0;
}
.playbutton {
  margin-bottom: -10px;
}
.image3 {
  position: absolute;
  cursor: pointer;
}
.adjust-line-height1 {
  font-size: 17px;
  line-height: 1em;
  margin:auto 0 auto 0;
  color: white;
  font-weight: bolder;
}
.adjust-line-height1-1 {
  color: white;
  font-family: 'Nanum Gothic', sans-serif;
  font-size: 75%;
}
.arrow {
  width: 15px;
  margin-bottom: -5px;
}
.arrowbutton-g-i-2 {
  background-color: #7ba435;
  color: white;
  padding: 5px 20px;
  text-align: center;
  display: inline-block;
  font-size: 16px;
  cursor: pointer;
  border-radius: 10px;
}
@media only screen and (min-width: 875px) {
  .childphoto {
    width: 350px;
  }
  .image2 {
    position: absolute;
    top: 100px;
    left: 170px;
    width: 35px;
  }
  .image3 {
    top: 200px;
    left: 45px;
    width: 260px;
  }
  .adjust-line-height1 {
    font-size: 30px;
  }
}

@media only screen and (min-width: 665px) and (max-width: 875px) {
  .image2 {
    position: absolute;
    top: 66px;
    left: 115px;
    width: 30px;
  }
  .image3 {
    top: 142px;
    left: 35px;
    width: 180px;
  }
}

@media only screen and (max-width: 665px) {
  .grid-container2 {
    grid-template-columns: none;
    grid-template-rows: auto auto;
  }
  .parent {
    height: 185px;
  }
  .parent-div-1 {
    position: relative;
    top: 0;
    left: 0;
  }
  .parent-div-2 {
    position: relative;
    top: 0;
    left: 0;
  }
  .image1 {
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
  }
  .image2 {
    position: absolute;
    top: 66px;
    left: 234px;
    width: 30px;
    margin: 0;
    position: absolute;
    left: 46%;
  }
  .image3 {
    top: 170px;
    width: 180px;
    margin: 0;
    left: 50%;
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
  }
  .adjust-line-height1-1 {
    font-size: 12px;
  }
  .arrowbutton-g-i-2 {
    margin: 0px;
    position: absolute;
    left: 50%;
    bottom: 0px;
    transform: translate(-50%, -50%);
  }
  .griditemmobp1 {
    text-align: center;
  }

  .griditemmobp2 {
    text-align: center;
  }

  .griditemmobp3 {
    text-align: center;
  }

  .grid-item2 {
    position: relative;
    top: 0;
    left: 0;
    height: 215px;
  }
}

/* UpcomingMatch-section */
.UpMatch {
  text-align: center;
  line-height: 1.5em;
  margin:auto 0 auto 0;
  font-weight: 600;
}
.UpMatchcont {
  text-align: center;
  line-height: 1em;
  margin:auto 0 auto 0;
  font-size: 10px;
  font-family: 'Nanum Gothic', sans-serif;
}
@media only screen and (min-width: 450px) {
  .grid-container3 {
    margin-top: 7%;
  }
  .UpMatch {
    font-family: 'Oswald', sans-serif;
    font-size: 35px;
  }
}

@media only screen and (max-width: 450px) {
  .grid-container3 {
    margin-top: 7%;
  }
  .UpMatch {
    font-size: 25px;
  }
}

/* Cards-section */
.cardbottom{
  margin-bottom: 30px;
}
.cardtextdate{
  margin-top: 40px;
}
.grid-container4-0 {
  display: grid;
  padding: 0 5% 0 5%;
}
.grid-container4 {
  display: grid;
}
.grid-container4>div {
  text-align: center;
  padding: 20px 0;
  font-size: 30px;
}
.item1,.item2 {
  display: flex;
}
.card {
  width: 17.5rem !important;
  margin: 0 auto 0 auto;
  transition: 0.3s;
  border: 1px solid #192a41;
  border-radius: 10px;
  width: 40%;
  position: relative;
  cursor: pointer;
}
.grid-container4-1 {
  left: 25%;
  display: grid;
  grid-template-columns: auto auto;
  background-color: #05152F;
  border: 1px solid #192a41;
  position: absolute;
  padding: 0 5% 0 5%;
  border-radius: 25px;
  width: 35%;
}
.grid-container4-1-d {
  display: grid;
  grid-template-columns: auto auto;
  background-color: #05152F;
  border: 1px solid #192a41;
  position: absolute;
  left: 25%;
  top: 45%;
  padding: 0 5% 0 5%;
  border-radius: 25px;
  width: 35%;
}
.livestreamtext {
  color: #67a435;
  background-color: #05152F;
  font-size: 12px;
  height: 0px;
}
.card-body {
  border-top: 1px solid #192a41;
}
.livstrmtxt {
  width: 23px;
  padding-bottom: 13%;
}
.carddate {
  color: #888d99;
}
.Cardtitle {
  color: white;
}
.cardreg {
  color: #7ba435;
}
.card:hover {
  border: 1px solid #7ba435;
  border-radius: 10px;
}
.cardtext {
  line-height: 0px;
  font-size: 15px;
  text-align: left;
  margin-left: 20px;
}
.cardtextheader {
  font-size: 20px;
  text-align: left;
  margin-left: 15px;
}
@media only screen and (min-width: 960px) {
  .grid-container4 {
    grid: auto / auto auto auto;
    margin: 40px;
    grid-gap: 5px;
  }
  .allimg {
    margin: 15px 0 30px 0;
  }
  .card {
    width: 17.5rem !important;
  }
  .grid-container4-1 {
    top: 47%;
  }
  .grid-container4-1-d {
    top: 45%;
  }
  .livstrmtxt {
    width: 25px;
    padding-bottom: 10%;
  }
  .img1-1 ,.img1-3 ,.img2-3 ,.img3-3 ,.img4-1,.img4-3 {
    width: 85px;
  }
  .img1-2 , .img2-2 ,.img3-2 , .img4-2 , .img5-2, .img3-1{
    width: 70px;
  }
  .img2-1 {
    width: 81px;
  }
  .img5-1,.img5-3 {
    width: 75px;
  }
}

@media only screen and (min-width: 755px)and (max-width: 960px) {
  .grid-container4 {
    grid: auto / auto auto;
    margin: 40px;
  }
  .card {
    width: 18rem !important;
  }
  .grid-container4-1 {
    top: 36%;
  }
  .grid-container4-1-d {
    top: 37%;
  }
  .img1-1 , .img1-2 , .img1-3,.img2-1,.img2-3,.img3-3,.img4-1,.img4-3,.img5-3,.img5-1 {
    width: 20%;
  }
  .img2-2,.img3-2,.img4-2,.img5-2 {
    width: 70px;
  }
  .img3-1 {
    width: 18%;
  }
}

@media only screen and (max-width: 755px) {
  .grid-container4 {
    grid: auto / auto;
    margin: 20px;
  }
  .card {
    width: 15rem !important;
  }
  .grid-container4-1 {
    top: 34%;
  }
  .grid-container4-1-d {
    top: 35%;
  }
  .img1-1,.img1-2,.img1-3,.img2-1,.img2-2,.img2-3,.img3-2,.img4-2,.img5-1,.img5-2,.img5-3 {
    width: 20%;
  }
  .img3-1 {
    width: 21%;
  }
  .img3-3 {
    width: 25%;
  }
  .img4-1,.img4-3 {
    width: 28%;
  }
}

/* Other Matches Section */
@media only screen and (min-width: 50px) {
  .grid-container4-2 {
    display: grid;
    text-align: center;
    margin-bottom: 50px;
  }
  .arrowbuttonM {
    background-color: #7ba435;
    color: white;
    padding: 5px 20px;
    text-align: center;
    display: inline-block;
    font-size: 16px;
    cursor: pointer;
    border-radius: 10px;
 }
 .arrowM {
  width: 15px;
  margin-bottom: -5px;
 }
}

/* Numbers-section */
.grid-container5 {
  display: grid;
  background-color: #000f2e;
  padding: 0 12% 0 12%;
}
.number {
  color: white;
  font-family: 'Oswald';
  font-size: 60px;
  text-align: center;
  font-weight: 600;
}
.button1 {
  background-color: #7ba435;
  border: 1px;
  border-radius: 15px;
  color: white;
  cursor: pointer;
  font-size: 11px;
  margin: 0;
  position: absolute;
  bottom: 20%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
}
.container5 {
  margin: -30px 0 -30px 0;
  position: relative;
}
.center5 {
  margin: 0;
  position: absolute;
  bottom: 50%;
  left: 50%;
  -ms-transform: translate(-50%, -50%);
  transform: translate(-50%, -50%);
  display: contents;
}
@media only screen and (min-width: 960px) {
  .grid-container5-1 {
    display: grid;
    grid: auto / auto auto auto auto;
    border: 1px solid #192a41;
    border-radius: 15px;
    margin: 50px 0 50px 0;
  }
  .button1 {
    left: 49%;
  }
}

@media only screen and (min-width: 410px)and (max-width: 960px) {
  .grid-container5-1 {
    display: grid;
    grid: auto / auto auto;
    border: 1px solid #192a41;
    border-radius: 15px;
    margin: 50px 0 50px 0;
  }
}

@media only screen and (max-width: 410px) {
  .grid-container5-1 {
    display: grid;
    grid: auto / auto;
    border: 1px solid #192a41;
    border-radius: 15px;
    margin: 50px 0 50px 0;
  }
}

/* Newsletter-section */
.middle {
  color: #7ba435;
}
.newsp {
  color: white;
  font-size: larger;
  font-weight: bold;
}
.newsp2 {
  color: white;
  font-size: small;
}
.grid-container6 {
  display: grid;
  padding: 0 12% 0 12%;
  background-color: #000f2e;
}
.grid-container6-1 {
    display: grid;
    grid-template-rows: auto auto;
    border: 1px solid #7ba435;
    border-radius: 10px;
    margin: 50px 0 50px 0;
    background-color: #7ba435;
  }
  .container6 {
    position: relative;
    margin: 20px;
  }
  .container6-1 {
    position: relative;
    margin: 20px;
  }
  .subscribe {
    color: white;
    background-color: #000f2e;
    border: 1px solid #000f2e;
    cursor: pointer;
  }
  ::placeholder {
    color: #a8aeb5;
  }
  .enteremail {
    border: 1px solid white;
    position: relative;
    border-radius: 5px;
    width: 80%;
    height: 80%;
  }
  .arrowsubs {
    width: 10%;
    margin-bottom: 0%;
  }
@media only screen and (min-width: 961px) {
  .grid-container6-1 {
    grid: auto / 50% 50%;
    grid-template-rows: none;
  }
  .center-block {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    align-items: center;
    justify-content: left;
  }
  .subscribe {
    right: 11%;
    width: 20%;
    height: 30%;
    border-radius: 7px;
    position: absolute;
    font-size: 50%;
  }
  .enteremail {
    width: 90%;
    height: 40%;
    border-radius: 7px;
  }
}

@media only screen and (min-width: 600px)and (max-width: 961px) {
  .newsp {
    text-align: center;
  }
  .newsp2 {
    text-align: center;
  }
  .center-block {
    height: 50px;
  }
  .subscribe {
    right: 11%;
    top: 9%;
    border-radius: 5px;
    padding: 8px;
    position: absolute;
    font-size: "";
    margin: 0;
  }
  .enteremail {
    display: block;
    margin: 0 auto;
  }
}

@media only screen and (max-width: 600px) {
  .middle {
    text-align: center;
  }
  .newsp {
    text-align: center;
  }
  .newsp2 {
    text-align: center;
  }
  .container6-1 {
    margin: 0 0 50px 0;
  }
  .center-block {
    height: 50px;
  }
  .subscribe {
    right: 25%;
    left: 30%;
    top: 33%;
    border-radius: 5px;
    height: 50%;
    position: relative;
    margin: 0;
  }
 .enteremail {
    display: block;
    margin: 0 auto;
  }
  .titles {
    text-align: center;
  }
  .p7 {
    text-align: center;
  }
}

/* additional details section */
.grid-container7 {
  display: grid;
  background-color: #000f2e;
  padding:0 12% 0 12% ;
  margin-bottom: 60px;
}
.grid-container7-1 {
  display: grid;
  margin: 50px 0 50px 0;
}
.container7 {
  position: relative;
  padding: 5px;
}
.titles {
  color: white;
  font-family: fantasy;
  font-size: 28px;
}
.column {
  flex-direction: row;
}
.socialmediapics {
  float: left;
  cursor: pointer;
}
.socialmediapicsball,.grid-itempics {
  cursor: pointer;
}
.grid-containerpics {
  display: grid;
  grid-template-columns: auto auto auto;
}
.p7 {
  color: white;
  font-size: 70%;
  font-family: 'Nanum Gothic', sans-serif;
  cursor: pointer;
}
.thumbnailicons {
  width: 58px;
  padding: 10px;
}
@media only screen and (min-width: 960px) {
  .grid-container7-1 {
    grid-template-columns: repeat(4, 1fr);
  }
  .titles {
    font-weight: 600;
    font-family: Oswald;
  }
  .socialmediapics {
    width: 20%;
  }
  .socialmediapicsball {
    width: 18%;
  }
}
@media only screen and (min-width: 600px)and (max-width: 960px) {
  .grid-container7-1 {
    grid-template-columns: repeat(2, 1fr);
  }
  .container7 {
    position: relative;
    padding: 5px;
  }
  .socialmediapics {
    width: 14%;
  }
  .socialmediapicsball {
    width: 13%;
  }
  .grid-containerpics {
   margin-right: 10%;
  }
}
@media only screen and (max-width: 600px) {
  .grid-container7 {
    margin-bottom: 0px;
  }
  .grid-container7-1 {
    margin-top: 0px;
    grid-template-columns: repeat(1, 1fr);
  }
  .column {
    margin-left: 30%;
  }
  .socialmediapics {
    width: 12%;
    float: none;
  }
  .socialmediapicsball {
    width: 11%;
  }
  .grid-containerpics {
    margin-left: 6%;
  }
}
